<style>
#power{
    background-color: antiquewhite;
}
#headerss{
    color: darkmagenta;
}
#discord{
    background-color: antiquewhite;
}
#first{
    background-color: antiquewhite;
}
h2{
    background-color: antiquewhite;
    color:crimson
}
caption{
    color: brown;
}
header{
    background-color: cadetblue;
}
</style>
